$headerHeight:40px;

#header {
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    background: hsl(233, 76%, 6%);
    box-shadow: 1px 2px 3px rgba(0, 255, 242, 0.8);
    z-index: 3;
    padding: 2px;
    padding-left: 20px;
    padding-right: 20px;

    &:hover {

        box-shadow: 0px 5px 8px rgba(0, 255, 242, 0.8);
    }

    #title {
        display: flex;

        #sitetitle {
            display: block;
            font-size: 1.2rem;
            font-weight: 900;
            text-transform: uppercase;
            padding-left: 5px;
            padding-right: 15px;

        }

        #sitesubtitle {
            display: block;
            font-size: .8rem;
            font-weight: 200;
            text-transform: capitalize;
            padding-left: 5px;
            padding-right: 15px;
        }
    }

    nav {
        float: right;
        position: absolute;
        top: 5px;
        right: 20px;


        /*         #navcheck {
            #navicon {
                span {
                    width: 20px;
                    height: 20px;
                    background: #fff;

                    padding: 5px;
                }
            }
        } */


        #navul {
            margin-top: 10px;
            margin-right: 40px;
            display: none;
            flex-wrap: wrap;
            // visibility: hidden;

            li {

                text-transform: capitalize;
                font-size: .8rem;
                font-weight: 700;
                text-decoration: none;
                color: white;
                padding-left: 5px;
                padding-right: 5px;

                &:hover {
                    background: rgba(37, 61, 168, 0.9);

                }
            }


        }

    }
}


#navmenu {
    visibility: hidden;
}


#navmenu:checked+#navul {
    // display: none !important;
    flex-direction: column;
    top: 80px;
}










#navmenulabel {
    position: absolute;
    top: 10px;
    right: 5px;
    display: flex;
    flex-direction: column;
    height: 20px;
    width: 25px;
    transition: all 200ms ease-in-out;

    .ham1,
    .ham2,
    .ham3 {
        flex-grow: 0;
        position: relative;
        display: inline-block;
        background: #fff;
        height: 10px;
        width: 20px;
        border-radius: 1px;
        margin: 2px;



    }

    &:hover {

        .ham1,
        .ham2,
        .ham3 {
            height: 10px;
            width: 25px;
        }
    }

    &:hover {

        .ham1,
        .ham3 {
            background-color: aqua;
        }
    }




}


#navmenu:checked+#navmenulabel {
    .ham1 {
        background-color: aqua;
    }

    .ham2 {
        display: none;
    }
}


// }









//small screen
@media screen and (max-width: 600px) {


    #sitesubtitle {
        // font-size: 3rem;
        font-weight: 200;
    }

    #navmenu {
        cursor: pointer;
        padding: 10px;
        display: none;
        position: relative;
        top: 20px;
        right: 5px;

    }

    #navul {
        display: flex;
        position: fixed;
        flex-direction: column;
        justify-items: center;
        align-content: center;
        width: 80vw;
        left: 0px;
        // opacity: .1;
        top: $headerHeight;
        height: 80vh;

        z-index: 1;
        background-color: rgba(28, 34, 61, .99);
        margin: 0px;
        padding: 0px;
        transition: opacity 2s ease-in-out;
        transition: opacity 2s ease-in-out;

        li {
            display: flex;
            // align-self: center;
            // text-align: center;
            justify-content: center;
            align-items: center;
            margin: auto;
            flex-grow: 1;
            width: 100%;

            a {

                // flex-grow: 1;
                // padding: .5em;
                // align-content: center;
                // vertical-align: middle;
                text-transform: uppercase;
                font-size: 1.5rem;
            }
        }
    }

    #navmenu:checked+#navul {
        right: 200px;
        opacity: 1;
        color:hsla(180, 100%, 50%, 0.877)
    }
}








//large screen
@media screen and (min-width: 600px) {
    /*     #navmenu {
        visibility: none;
        display: none;
    } */

    #navmenu:checked+#navul {
        display: none !important;
        flex-direction: column;
        top: 80px;
    }
}