/* Fonts and Variables */
@import url("https://fonts.googleapis.com/css?family=Inter|Exo|Play|Roboto+Mono|Unica+One");
.gold {
  /* Set the background color */
  background: #918c00;
  background: linear-gradient(130deg, #8a8300 0%, #bdaa00 31%, #a19700 51%, #ffdb00 71%, #4b4101 100%);
  /* Mask the color to the text, and remove the rest  */
  -webkit-background-clip: text;
  /* Make the text fill color value transparent so the masked background color comes through */
  -webkit-text-fill-color: transparent;
  text-shadow: 1px 1px 0px rgba(226, 219, 0, 0.2);
}

/* Reset style */
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
  color: #EEF;
}

:root {
  font-size: 1rem;
  font-family: "Exo", "Verdana";
  text-shadow: 0.01em 0.01em 0.1em #292929;
}

body {
  width: 100%;
  background: #050729;
}

a {
  color: #ddd;
}

button,
.button {
  position: relative;
  font-weight: 500;
  display: inline-block;
  outline: 0.2em solid #05eeff;
  padding: .5em;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(10%, #0af7ff), color-stop(80%, #75faff), to(#0af7ff)) no-repeat scroll 0;
  background: linear-gradient(0deg, #0af7ff 10%, #75faff 80%, #0af7ff 100%) no-repeat scroll 0;
  color: #0b4c65;
  text-align: center;
  text-shadow: none;
  margin: 2em;
  margin-left: 0;
  text-transform: capitalize;
  border-radius: .01em;
}

button:hover,
.button:hover {
  outline: 0.1em solid #05eeff;
  -webkit-box-shadow: 0px 0px 0.5em #05eeff;
          box-shadow: 0px 0px 0.5em #05eeff;
}

.button-blank {
  position: relative;
  font-weight: 500;
  display: inline-block;
  outline: 0.2em solid #05eeff;
  padding: .5em;
  background: rgba(1, 1, 1, 0.1);
  color: #05eeff;
  text-align: center;
  text-shadow: none;
  margin: 2em;
  margin-left: 0;
  text-transform: capitalize;
  border-radius: .01em;
}

.button-blank:hover {
  outline: 0.1em solid #05eeff;
  -webkit-box-shadow: 0px 0px 0.5em #05eeff;
          box-shadow: 0px 0px 0.5em #05eeff;
}

h1 {
  font-family: "Inter", "Play", "Verdana";
  margin-bottom: 1em;
}

h2 {
  font-family: "Inter", "Play", "Verdana";
  margin-bottom: 1em;
}

h3 {
  margin-bottom: 1em;
  font-family: "Inter", "Play", "Verdana";
}

p {
  padding-top: 20px;
}

table {
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 3px #999;
          box-shadow: 1px 1px 3px #999;
  padding: 20px;
  width: 100%;
}

table thead {
  padding: 2px;
}

table tbody tr {
  padding: 2px;
}

table tbody tr:nth-child(odd) {
  background: rgba(1, 1, 1, 0.5);
}

table tbody tr:nth-child(even) {
  background: rgba(236, 236, 236, 0.2);
}

table tbody tr td {
  width: 70%;
}

table tbody tr td:nth-child(1) {
  width: 150px;
}

.input {
  margin: 2px;
  width: 100%;
  background: #BBC;
}

video {
  width: 100%;
  margin: 10px;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 2px white;
          box-shadow: 2px 2px 2px white;
  margin-bottom: 10%;
}

#app {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #EEF;
}

#app #main {
  position: relative;
  background: linear-gradient(-30deg, #050729 70%, #135d9a 200%) no-repeat scroll 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.maincontainer {
  padding-left: 10%;
  padding-right: 10%;
  margin: 0;
}

.section {
  margin-top: 5em;
  margin-bottom: 5em;
  padding-top: 10em;
  padding-bottom: 10em;
}

ol {
  list-style: none;
  counter-reset: item;
}

ol li {
  counter-increment: item;
  margin-bottom: 5px;
}

ol li:before {
  font-size: small;
  margin-right: 10px;
  content: counter(item);
  background: cyan;
  border-radius: 100%;
  color: #222222;
  padding: .1em;
  margin: .5wdem;
  width: 1.2em;
  text-align: center;
  display: inline-block;
}

.m1 {
  margin: 1em;
  margin-left: 2em;
}

.p1 {
  padding-bottom: .5em;
}

svg {
  width: 100px;
  height: 100px;
}

#header {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #04061b;
  -webkit-box-shadow: 1px 2px 3px rgba(0, 255, 242, 0.8);
          box-shadow: 1px 2px 3px rgba(0, 255, 242, 0.8);
  z-index: 3;
  padding: 2px;
  padding-left: 20px;
  padding-right: 20px;
}

#header:hover {
  -webkit-box-shadow: 0px 5px 8px rgba(0, 255, 242, 0.8);
          box-shadow: 0px 5px 8px rgba(0, 255, 242, 0.8);
}

#header #title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#header #title #sitetitle {
  display: block;
  font-size: 1.2rem;
  font-weight: 900;
  text-transform: uppercase;
  padding-left: 5px;
  padding-right: 15px;
}

#header #title #sitesubtitle {
  display: block;
  font-size: .8rem;
  font-weight: 200;
  text-transform: capitalize;
  padding-left: 5px;
  padding-right: 15px;
}

#header nav {
  float: right;
  position: absolute;
  top: 5px;
  right: 20px;
  /*         #navcheck {
            #navicon {
                span {
                    width: 20px;
                    height: 20px;
                    background: #fff;

                    padding: 5px;
                }
            }
        } */
}

#header nav #navul {
  margin-top: 10px;
  margin-right: 40px;
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#header nav #navul li {
  text-transform: capitalize;
  font-size: .8rem;
  font-weight: 700;
  text-decoration: none;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
}

#header nav #navul li:hover {
  background: rgba(37, 61, 168, 0.9);
}

#navmenu {
  visibility: hidden;
}

#navmenu:checked + #navul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 80px;
}

#navmenulabel {
  position: absolute;
  top: 10px;
  right: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 20px;
  width: 25px;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

#navmenulabel .ham1,
#navmenulabel .ham2,
#navmenulabel .ham3 {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  position: relative;
  display: inline-block;
  background: #fff;
  height: 10px;
  width: 20px;
  border-radius: 1px;
  margin: 2px;
}

#navmenulabel:hover .ham1,
#navmenulabel:hover .ham2,
#navmenulabel:hover .ham3 {
  height: 10px;
  width: 25px;
}

#navmenulabel:hover .ham1,
#navmenulabel:hover .ham3 {
  background-color: aqua;
}

#navmenu:checked + #navmenulabel .ham1 {
  background-color: aqua;
}

#navmenu:checked + #navmenulabel .ham2 {
  display: none;
}

@media screen and (max-width: 600px) {
  #sitesubtitle {
    font-weight: 200;
  }
  #navmenu {
    cursor: pointer;
    padding: 10px;
    display: none;
    position: relative;
    top: 20px;
    right: 5px;
  }
  #navul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    justify-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    width: 80vw;
    left: 0px;
    top: 40px;
    height: 80vh;
    z-index: 1;
    background-color: rgba(28, 34, 61, 0.99);
    margin: 0px;
    padding: 0px;
    -webkit-transition: opacity 2s ease-in-out;
    transition: opacity 2s ease-in-out;
    transition: opacity 2s ease-in-out;
  }
  #navul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: 100%;
  }
  #navul li a {
    text-transform: uppercase;
    font-size: 1.5rem;
  }
  #navmenu:checked + #navul {
    right: 200px;
    opacity: 1;
    color: rgba(0, 255, 255, 0.877);
  }
}

@media screen and (min-width: 600px) {
  /*     #navmenu {
        visibility: none;
        display: none;
    } */
  #navmenu:checked + #navul {
    display: none !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 80px;
  }
}

#footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #181a35;
  width: 100%;
  z-index: 2;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 30%;
}

#footer a {
  color: #67bada;
}

#copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px;
  background: #181a35;
  font-size: .8rem;
  font-weight: 200;
}

#copyright p {
  padding-left: 10px;
  margin-left: 20px;
  padding-right: 10px;
  margin-right: 20px;
}

#copyright a {
  color: #67bada;
}

/* template */
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#fileOpen {
  background: radial-gradient(rgba(255, 255, 255, 0.493) 0%, rgba(53, 173, 243, 0.493) 200%);
  padding: 50px;
  min-width: 400px;
  border-radius: 20px;
  margin: 50px;
  color: white;
  font-size: 2rem;
  text-align: left;
}

.ytContainer {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.ytVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 70%;
}

.cursor {
  margin-left: .1em;
}

.cursor:after {
  width: .1em;
  height: 1.6em;
  display: inline;
  background-color: #fff;
  padding: .08em;
  text-shadow: none;
  font-weight: 100;
  content: '';
  -webkit-transform: translateY(-0.3em);
          transform: translateY(-0.3em);
  -webkit-animation: cusrorblink 500ms infinite;
          animation: cusrorblink 500ms infinite;
}

@-webkit-keyframes cusrorblink {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
}

@keyframes cusrorblink {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
}

#logBlock {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  z-index: 100;
  top: 50px;
  right: 50px;
  padding: 5px;
  padding-right: 15px;
  border-radius: 2px;
  min-width: 30%;
  min-height: 20%;
  max-height: 80%;
  background-color: rgba(255, 255, 255, 0.8);
  overflow: scroll;
  resize: both;
}

#logBlock p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#logBlock p span {
  padding-left: 5px;
  color: black;
  font-weight: 100;
  font-size: smaller;
}

#gameInst {
  opacity: .05;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  -webkit-animation: gameblink 2s 5;
          animation: gameblink 2s 5;
  padding: 50px;
}

#gameInst:hover {
  opacity: .5;
}

#gameInst #keylist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#gameInst #keylist .gamekey {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding: 4wpx;
  min-height: 40px;
  min-width: 40px;
  margin: 4px;
  font-style: italic;
  border-radius: 2px;
  border: 1px solid #fff;
}

@-webkit-keyframes gameblink {
  from {
    opacity: .01;
  }
  to {
    opacity: .1;
  }
}

@keyframes gameblink {
  from {
    opacity: .01;
  }
  to {
    opacity: .1;
  }
}
/*# sourceMappingURL=sitestyle.css.map */